<form action="#myform" ngForm="myform" ngSubmit="onSubmit()">
  <div class="container">
      <div class="row">
        <div class="logoutbtn_cls_main">
          <button class="btn btn-success logoutbtn_cls">LOGOUT</button>
        </div>
      </div>     
      <div class="row pb">
        <div class="col-md-1 col-sm-6">
          <div class="bars_main">
            <a href=""><img src="assets/images/ico-hamburger-green.svg" alt="bars"></a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="logo_main">
            <a href=""><img src="assets/images/img-ibhl-logo.svg" alt="logo" class="logo_img"></a>
          </div>      
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="helplinecls_main">
            <p class="helplinecls_help"><a href="" class="helplinecls_help_a"><i class="fa fa-phone" aria-hidden="true"></i><span> Helpline</span></a></p>
            <h4 class="helplinecls_numb">1800-200-7777</h4>
            <a href="#" class="help_icon_clsmain"><img src="assets/images/ico-call-phone-green.svg" alt="phone" class="help_phone"></a>
          </div>          
        </div>
      </div>
      
      <div class="row headerbgclr_main">  
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-1">
          <div class="ico_man_main">
            <a href=""><img src="assets/images/ico-your-details.svg" alt="ico_man"></a>
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
          <div class="headerinb_2">
            <h3 class="headerinb_2_1 fnt_sty">Your Details</h3>
            <p class="headerinb_2_2">Let us know your details</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-2"></div>
      </div>
      
        <div class="row pt">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                 <p class="fieldnames"><label for="">First Name</label></p>
                 <p><input type="text" class="form-control input_data input_bars" value="Rajesh"></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <p class="fieldnames"><label for="">Middle Name</label></p>
                  <p><input type="text" class="form-control input_data input_bars" value="Ramesh"></p>
                 </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <p class="fieldnames"><label for="">Last name</label></p>
                  <p><input type="text" class="form-control input_data input_bars" value="Wadhwa"></p>
                </div>
              </div>
            </div>
            <div class="brdr_cls"></div>
            <div class="row pt">
              <div class="col-md-4">
                <div class="form-group">
                 <p class="fieldnames"><label for="">Resident Status</label></p>
                 <ul class="ul_cls ul_cls_res">                   
                  <div class="li_new_cls">
                    <li class="li_cls input_data active res_li"><a href="#" class="a_cls"><img src="assets/images/ico-resident-active.svg" alt="resident" class="resident_imgcls resident_imgclses"><span>Resident Indian</span></a></li>
                  </div>
                  <div class="li_new_cls">
                    <li class="li_cls input_data active_2_res res_li"><a href="#" class="a_cls"><img src="assets/images/ico-non-resident-inactive.svg" alt="nonresident" class="non_resident_imgcls resident_imgclses"><span>Non Resident</span></a></li>
                  </div>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group sec_pad">
                  <p class="fieldnames"><label for="">Gender</label></p>
                  <ul class="ul_cls">
                    <li class="li_cls active input_data"><a href="#" class="a_cls">Male</a></li>
                    <li class="li_cls input_data"><a href="#" class="a_cls">Female</a></li>
                    <li class="li_cls input_data"><a href="#" class="a_cls">Neutral</a></li>
                  </ul>
                 </div>
              </div>
              <div class="col-md-4">
                <div class="form-group sec_pad">
                  <p class="fieldnames"><label for="">Date of Birth</label></p>
                  <p><input type="date" class="form-control input_data input_bars"></p>
                </div>
              </div>
            </div>
            <div class="row pt">
              <div class="col-md-8">
                <div class="form-group pin_city_inb1 pin_city_inb">
                 <p class="fieldnames"><label for="">Residence Pincode</label></p>
                 <p><input type="text" class="form-control input_data input_bars" value="400080"></p>
                </div>
                <div class="form-group pin_city_inb2 pin_city_inb">
                  <p class="fieldnames"><label for="">Residence City</label></p>
                  <p><input type="text" class="form-control input_data input_bars" value="Mumbai"></p>
                 </div>
              </div>              
              <div class="col-md-4"></div>
            </div>
            <div class="brdr_cls"></div>
            <div class="row pt">
              <div class="col-md-4">                
                  <button type="button" class="btn btn-success proceed_btn_cls">PROCEED</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <img src="../assets/images/img-footer-art.png" alt="footer" class="footer_img">
        </div>      
      

  </div>
</form>